.bg1{
    background-image: url(shapes/10.svg);
    width: 150%;
    height: 150%;
    top: -2%;
    left: -10%;
}
.bg2{
    background-image: url(shapes/12.svg);
    width: 120%;
    height: 120%;
    bottom: -50%;
    left: -10%;
}
.bg3{
    background-image: url(shapes/15.svg);
    width: 50%;
    height: 80%;
    bottom: 12%;
    right: 8%;
    z-index: 50;
}
.bg4{
    background-image: url(shapes/16.svg);
    width: 40%;
    height: 70%;
    bottom: 15.5%;
    right: 10.5%;
    z-index: 100;
}

.roll .view{
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    background-position: top left;
    background-size: cover;
}

.roll{
    overflow: hidden;
    right: 12.5%;
    width: 38%; 
    z-index: 50;
}

.roll1{
    top: 15%;
    height: 35%;
}

.roll2{
    top: 50%;
    height: 22%;
}

.roll3{
    top: 72%;
    height: 12%;
}

.roll1 .view{
    background-image: url(assets/head.png);
}

.roll2 .view{
    background-image: url(assets/body.png);
}

.roll3 .view{
    background-image: url(assets/leg.png);
}

.indicator{
    left: 132px;
    top: 195px;
    width: 126px;
    height: 234px;
}

.rod{
    background-image: url(shapes/13.svg);
    width: 13%;
    height: 13%;
    left: 87.5%;
    transform-origin: bottom left;
    transform: rotate(0deg);
    z-index: 30;
}

.rod1{
    top: 20%;
}
.rod2{
    top: 50%;
}
.rod3{
    top: 68%;
}

.rod.pulled{
    animation: pulledani .6s ease;
    -webkit-animation: pulledani .6s ease;
}

@keyframes pulledani {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.right{
    background-image: url(shapes/89.svg);
    width: 20%;
    height: 30%;
    top: 40%;
    left: 60%;
    z-index: 200;
    animation: flashing .8s linear infinite;
    display: none;
}

.right.show{
    display: block;
}

@keyframes flashing{
    19%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    41%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    61%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    81%{
        opacity: 0;
    }
}

.indicator{
}

.indicator::after{
    content: ' ';
    background: radial-gradient(circle at center , #00000000, yellow);
    opacity: .2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.indicator.r{
    background-image: url(sprites/DefineSprite_47/4.svg);
}
.indicator.e{
    background-image: url(sprites/DefineSprite_47/5.svg);
}
.indicator.m{
    background-image: url(sprites/DefineSprite_47/3.svg);
}
.indicator.c{
    background-image: url(sprites/DefineSprite_47/1.svg);
}
.indicator.p{
    background-image: url(sprites/DefineSprite_47/2.svg);
}