.pc1 > .preview{
    background-image: url("http://localhost:8081/shapes/186.svg");
}

.pc1 > .prototype-vehicle {
    background-image: url("http://localhost:8081/sprites/DefineSprite_132/1.svg");
}

.pc1 > .parts.unplaced{
    transform: scale(2);
}

.pc1 > .p1{
    width: 237px;
    height: 114px;
}

.pc1 > .p1.placed, .pc1 > .p1.color{
    background-image: url("http://localhost:8081/shapes/189.svg");
    top: 412px;
    left: 524px;
    z-index: 8;
}

.pc1 > .p1.color{
    mask: url("http://localhost:8081/shapes/187.svg") no-repeat top center / contain;
    -webkit-mask: url("http://localhost:8081/shapes/187.svg") no-repeat top center / contain;
    background-color: white;
    z-index: 7;
}

.pc1 > .p2{
    width: 12px;
    height: 26px;
}

.pc1 > .p2.placed, .pc1 > .p2.color {
    background-image: url("http://localhost:8081/shapes/194.svg");
    top: 393px;
    left: 692px;
    z-index: 12;
}

.pc1 > .p2.color{
    mask: url("http://localhost:8081/shapes/192.svg") no-repeat top center / contain;
    -webkit-mask: url("http://localhost:8081/shapes/192.svg") no-repeat top left / contain;
    background-color: white;
    z-index: 11;
}

.pc1 > .p3{
    width: 178px;
    height: 85px;
}

.pc1 > .p3.placed, .pc1 > .p3.color {
    background-image: url("http://localhost:8081/shapes/219.svg");
    top: 329px;
    left: 584px;
    z-index: 10;
}

.pc1 > .p3.color{
    mask: url("http://localhost:8081/shapes/217.svg") no-repeat top center / contain;
    -webkit-mask: url("http://localhost:8081/shapes/217.svg") no-repeat top left / contain;
    background-color: white;
    z-index: 9;
}

.pc1 > .p4{
    width: 35px;
    height: 26px;
}

.pc1 > .p4.placed, .pc1 > .p4.color {
    background-image: url("http://localhost:8081/shapes/199.svg");
    top: 434px;
    left: 739px;
    z-index: 12;
}

.pc1 > .p4.color{
    mask: url("http://localhost:8081/shapes/197.svg") no-repeat top center / contain;
    -webkit-mask: url("http://localhost:8081/shapes/197.svg") no-repeat top left / contain;
    background-color: white;
    z-index: 11;
}

.pc1 > .p5{
    width: 46px;
    height: 46px;
}

.pc1 > .p5.placed, .pc1 > .p5.color {
    background-image: url("http://localhost:8081/shapes/211.svg");
    top: 446px;
    left: 560px;
    z-index:10; 
}

.pc1 > .p5.color{
    mask: url("http://localhost:8081/shapes/209.svg") no-repeat top center / contain;
    -webkit-mask: url("http://localhost:8081/shapes/209.svg") no-repeat top left / contain;
    background-color: white;
    z-index:9; 
}

.pc1 > .p6{
    width: 46px;
    height: 46px;
}

.pc1 > .p6.placed, .pc1 > .p6.color {
    background-image: url("http://localhost:8081/shapes/211.svg");
    top: 446px;
    left: 682px;
    z-index:10; 
}

.pc1 > .p6.color{
    mask: url("http://localhost:8081/shapes/209.svg") no-repeat top center / contain;
    -webkit-mask: url("http://localhost:8081/shapes/209.svg") no-repeat top left / contain;
    background-color: white;
    z-index:9; 
}

.pc1 > .p7{
    width: 52px;
    height: 57px;
}

.pc1 > .p7.placed, .pc1 > .p7.color {
    background-image: url("http://localhost:8081/shapes/205.svg");
    top: 402px;
    left: 518px;
    z-index: 6;
}

.pc1 > .p7.color{
    mask: url("http://localhost:8081/shapes/203.svg") no-repeat top center / contain;
    -webkit-mask: url("http://localhost:8081/shapes/203.svg") no-repeat top left / contain;
    background-color: white;
    z-index: 5;
}

.pc1 > .p1.unplaced {
    top: 163px;
    left: 219px;
    background-image: url("http://localhost:8081/sprites/DefineSprite_191/1.svg");
}

.pc1 > .p2.unplaced {
    top: 394px;
    left: 385px;
    background-image: url("http://localhost:8081/sprites/DefineSprite_196/1.svg");
    z-index: 10;
}

.pc1 > .p3.unplaced {
    top: 272px;
    left: 154px;
    background-image: url("http://localhost:8081/sprites/DefineSprite_221/1.svg");
}

.pc1 > .p4.unplaced {
    top: 293px;
    left: 417px;
    background-image: url("http://localhost:8081/sprites/DefineSprite_201/1.svg");
}

.pc1 > .p5.unplaced {
    top: 290px;
    left: 256px;
    background-image: url("http://localhost:8081/sprites/DefineSprite_213/1.svg");
}

.pc1 > .p6.unplaced {
    top: 290px;
    left: 326px;
    background-image: url("http://localhost:8081/sprites/DefineSprite_213/1.svg");
}

.pc1 > .p7.unplaced {
    top: 402px;
    left: 122px;
    background-image: url("http://localhost:8081/sprites/DefineSprite_208/1.svg");
}