.bg1{
    background-image: url(shapes/74.svg);
    width: 200%;
    height: 200%;
    top: -68%;
    left: -50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg2{
    background-image: url(shapes/76.svg);
    width: 50%;
    height: 30%;
    top: 20%;
    left: 30%;
    background-repeat: no-repeat;
    background-size: contain;
}

.counter{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(shapes/86.svg);
    width: 30%;
    height: 10%;
    top: 1rem;
    left: 1rem;
}

.hand{
    z-index: 100;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(shapes/371.svg);
    width: 15%;
    height: 20%;
    bottom: 4rem;
}

.piller1{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(shapes/101.svg);
    width: 19px;
    height: 151px;
    left: 308px;
    top: 119px;
}

.piller2{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(shapes/101.svg);
    width: 19px;
    height: 151px;
    left: 489px;
    top: 119px;
}

.circle{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(shapes/94.svg);
    width: 25%;
    height: 20%;
    bottom: 18.6%;
}

.power-measure{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(shapes/360.svg);
    width: 238px;
    height: 23px;
    bottom: 23px; 
    left: 348px;
}

.power-measure-top{
    content: ' ';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(shapes/365.svg);
    width: 332px;
    height: 23px;
    bottom: 25px; 
    left: 254px; 
}

.power-measure-bar{
    background-color: red;
    width: 223px;
    height: 17px;
    bottom: 26px; 
    left: 351px;
    border-radius: 23px;
    overflow: hidden;
}

.in-circles, .out-circles, .half-circles{
    width: 100%;
    height: 100%;
}

.half-circles > .circle {
    -webkit-mask: linear-gradient(to bottom, transparent 50%, #000 50%);
    mask: linear-gradient(to bottom, transparent 50%, #000 50%);
    mask-image: linear-gradient(to bottom, transparent 50%, #000 50%);
}