#frame{
    user-select: none;
}

.comtimer{
    z-index: 900;
}

.bg1{
    top: -4%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: url(shapes/81.svg);
}

.boy{
    bottom: -25%;
    left: -40%;
    width: 80%;
    height: 80%;
    background-image: url(shapes/82.svg);
    transform: scaleX(-1);
}

.cate_arr{
    width: 60%;
    height: 20%;
    right: 0;
    top: 0;
    font-size: 0;
    right: 1rem;
    top: 1rem;
}


.cat{
    display: inline-block;
    width: 19%;
    height: 100%;
    margin: .5%;
}

.cat1{
    background-image: url(shapes/89.svg);
}
.cat2{
    background-image: url(shapes/93.svg);
}
.cat3{
    background-image: url(shapes/97.svg);
}
.cat4{
    background-image: url(shapes/101.svg);
}
.cat5{
    background-image: url(shapes/105.svg);
}

.cat1.disabled{
    background-image: url(shapes/91.svg);
}
.cat2.disabled{
    background-image: url(shapes/95.svg);
}
.cat3.disabled{
    background-image: url(shapes/99.svg);
}
.cat4.disabled{
    background-image: url(shapes/103.svg);
}
.cat5.disabled{
    background-image: url(shapes/107.svg);
}

.boy.sad{
    background-image: url(shapes/84.svg);
}

.boy.yes{
    background-image: url(shapes/86.svg);
    left: -30%;
}

.parts-container{
    width: 100%;
    height: 100%;
    display: none;
}

.parts-container.show{
    display: block;
    user-select: none;
    pointer-events: none;
}

.parts-container > .parts.unplaced{
    background-size: initial;
    width: 20%;
    height: 20%;
    pointer-events: initial;
    z-index: 500;
}

.position-wrapper{
    width: 100%;
    height: 100%;
}

.current{
    pointer-events: initial;
}