.bg1{
    background-image: url(shapes/74.svg);
    width: 101%;
    height: 10%;
    top: -.5%;
    left: -.5%;
    background-size: contain;
}

.bg2{
    background-image: url(shapes/76.svg);
    width: 100%;
    height: 120%;
    top: -20%;
    left: 0;
    background-size: contain;
}

.bg3{
    background-image: url(shapes/79.svg);
    width: 95%;
    height: 120%;
    top: 6%;
    left: 2.5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-text{
    width: 95%;
    height: 120%;
    top: 8%;
    left: 35%;
    font-size: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.timer{
    background-image: url(shapes/88.svg);
    width: 23%;
    height: 10%;
    top: 6%;
    left: 3%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: blue;
    font-size: 36px;
    font-family: 'Noto Sans';
}

.target{
    background-image: url(shapes/99.svg);
    width: 20%;
    height: 20%;
    top: 3%;
    right: -4%;
    background-size: contain;
    background-repeat: no-repeat;
}

.target-item{
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 20%;
    background-repeat: no-repeat;
    background-size: contain;
}

.target-item.p1{
    background-image: url(images/94.png); 
    left: 15%;
}

.target-item.p2{
    background-image: url(images/95.png); 
    left: 25%;
}

.target-item.p3{
    background-image: url(images/96.png); 
    left: 15%;
}

.target-item.p4{
    background-image: url(images/97.png); 
    left: 12%;
}

.items-container{
    width: 88%;
    height: 62%;
    top:22%;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.item{
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1000;
}

.item:hover::after{
    opacity: 0.4;
    z-index: 99;
    content:' ';
    position: absolute;
    background-image: radial-gradient(#fff, #ff0);
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    background-size: contain;
    background-repeat: no-repeat; 
}

.item.confirm::before{
    z-index: 101;
    content:' ';
    position: absolute;
    background-image: url(shapes/125.svg);
    width: 90%;
    height: 90%;
    top: 5%;
    right: 5%;
    background-size: contain;
    background-repeat: no-repeat;  
}

.item.p1{
    background-image: url(images/94.png);
}
.item.p2{
    background-image: url(images/95.png);
}
.item.p3{
    background-image: url(images/96.png);
}
.item.p4{
    background-image: url(images/97.png);
}

.wrong{
    top: 45%;
    left: 45%;
    width: 30%;
    height: 15%;
    background-image: url(shapes/113.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    visibility: hidden;
}

.wrong.show{
    visibility: visible;
}

.teacher{
    z-index: 1000;
    left: 30%;
    top: 35%;
}

.win{
    background-image: url(shapes/120.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
    display: none;
}

.win.show, .lose.show{
    display: block;
}

.lose{
    background-image: url(shapes/117.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
    display: none;
}