.bg1{
    width: 101%;
    height: 101%;
    top: -.5%;
    left: -.5%;
    background-size: contain;
    background-image: url(shapes/71.svg);
}

.bg2{
    width: 101%;
    height: 101%;
    top: -.5%;
    left: -.5%;
    background-size: contain;
    background-image: url(shapes/72.svg);
    opacity: .5;
}

.bg3{
    width: 101%;
    height: 150%;
    top: -25%;
    left: -.5%;
    background-size: contain;
    background-image: url(shapes/73.svg);
}

.rotating-star{
    background-image: url(shapes/74.svg);
    width: 15%;
    height: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotating-star 5s infinite linear;
    opacity: .5;
}

@keyframes rotating-star {
    from {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}

.rs1{
    top: 10%;
    left: 50%;
}

.rs2{
    top: -5%;
    left: -5%;
    width: 20%;
    height: 25%;
}

.rs3{
    top: 50%;
    left: 50%;
    width: 30%;
    height: 40%;
}

.menu, .main{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.menu.show, .main.show{
    display: block;
}

.shape-selector{
    width: 27%;
    height: 40%;
    top: 25%;
    left: 15%;
}

.shape-selector::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(shapes/86.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.shape-selector::after{
    content: ' ';
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 50%;
    height: 20%;
    background-image: url(shapes/89.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.color-selector{
    width: 27%;
    height: 40%;
    top: 25%;
    right: 15%;
}

.color-selector::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(shapes/86.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.color-selector::after{
    content: ' ';
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 50%;
    height: 20%;
    background-image: url(shapes/101.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.selector-shapes{
    background-image: url(shapes/92.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 60%;
    top: 10%;
    left: 20%;
    filter: drop-shadow(#000a 5px 5px 5px);
}

.selector-colors{
    background-image: url(shapes/102.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 60%;
    top: 10%;
    left: 20%;
    filter: drop-shadow(#000a 5px 5px 5px);
}

.result-view{
    margin-top: 20%;
    margin-bottom: 10%;
    background-image: url(shapes/180.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 20%;
    color: white;
    text-align: right;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem .5rem;
    vertical-align: baseline;
}

.result-view > .number{
    font-size: 72px;
}

.s1{
    background-image: url(shapes/92.svg);
}
.s2{
    background-position: 0 40%;
    background-image: url(shapes/93.svg);
}
.s3{
    background-image: url(shapes/94.svg);
}
.s4{
    background-position: 0 20%;
    background-image: url(shapes/95.svg);
}
.s5{
    background-image: url(shapes/96.svg);
}
.s6{
    background-image: url(shapes/97.svg);
}
.s7{
    background-image: url(shapes/98.svg);
    background-size: 150% 75%;
    background-position: right;
}
.c1{
    background-image: url(shapes/102.svg);
}
.c2{
    background-image: url(shapes/103.svg);
}
.c3{
    background-image: url(shapes/104.svg);
}
.c4{
    background-image: url(shapes/105.svg);
}
.c5{
    background-image: url(shapes/106.svg);
}
.c6{
    background-image: url(shapes/107.svg);
}
.c7{
    background-image: url(shapes/108.svg);
}

.question{
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 30%;
    top: 10%;
    left: 37.5%;
}

.main > .selection{
    width: 30%;
    height: 35%;
    top: 45%;
    background-image: url(shapes/86.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main > .sa1{
    left: 7%;
}

.main > .sa2{
    left: 37%;
}

.main > .sa3{
    left: 67%;
}

.selection-view{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.as1{background-image: url(shapes/144.svg);}
.as2{background-image: url(shapes/145.svg);}
.as3{background-image: url(shapes/146.svg);}
.as4{background-image: url(sprites/DefineSprite_157/1.svg);}
.as5{background-image: url(shapes/158.svg);}
.as6{background-image: url(shapes/159.svg);}
.as7{background-image: url(shapes/160.svg);}

.ac1{background-image: url(shapes/121.svg);}
.ac2{background-image: url(shapes/125.svg);}
.ac3{background-image: url(shapes/126.svg);}
.ac4{background-image: url(shapes/127.svg);}
.ac5{background-image: url(shapes/128.svg);}
.ac6{background-image: url(shapes/129.svg);}
.ac7{background-image: url(bear.PNG);}

.as1, .as2, .as3, .as4, .as5, .as6, .as7{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 5%;
}

.as2{
    top: 25%;
}

.ac1, .ac2, .ac3, .ac4, .ac5, .ac6, .ac7{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 5%;
}

.cross, .right{
    width: 25%;
    height: 35%;
    top: 45%;
    left: 7%;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

.cross{
    background-image: url(shapes/79.svg);
}

.right{
    background-image: url(shapes/81.svg);
}

.x2, .r2{
    left: 37%;
}


.x3, .r3{
    left: 67%;
}

.cross.show, .right.show{
    display: block;
}